.box3, .box2, .box1 {
    display: flex;
    box-sizing: border-box;
    min-width: 100%;
}
.box1 {
    max-height: 50%;
    flex: 1 1 50%;
}
.box2 {
    height: 15%;
}
.box3 {
    height: 25%;
    max-height: 25%;
    flex: 1 1 25%;
}
span {
    text-align: center;
}

/*body {
    overflow: hidden;
}*/

.gridListdemoDynamicTiles md-icon {
    width: 50%;
    height: 30%;
}
.gridListdemoDynamicTiles md-icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.gridListdemoDynamicTiles md-grid-list {
    margin: 8px;
}
.gridListdemoDynamicTiles .red {
    background: #ff8a80;
}
.gridListdemoDynamicTiles md-grid-tile {
    transition: all 300ms ease-out 50ms;
    padding-bottom: 10px;
    padding-left: 0;
}
.gridListdemoDynamicTiles md-grid-tile md-icon {
    padding-bottom: 32px;
}
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.68);
    height: 36px;
}
.gridListdemoDynamicTiles md-grid-tile {
    margin-bottom: 20px;
}
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
    width: 100%;
}
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.gridListdemoDynamicTiles md-progress-circular {
    margin-bottom: 20px;
}
.sample-show-hide {
    padding: 10px;
    border: 1px solid black;
    background: white;
}
.sample-show-hide {
    -webkit-transition: all linear 0.8s;
    transition: all linear 0.8s;
}
.sample-show-hide.ng-hide {
    opacity: 0;
}
.gridListdemoDynamicTiles md-progress-linear {
    margin-top: -9px;
}
.gridListdemoDynamicTiles md-progress-linear .md-container {
    /*margin-left: -5px;*/
    width: 90%;
}

/*.gridListdemoDynamicTiles md-grid-list md-grid-tile figure p {
    /*margin-left: -20px;*/


}
.box1 fieldset.standard {
    border-style: solid;
    border-width: 1px;
}
.box1 legend {
    color: #3F51B5;
}
.box1 legend code {
    color: #3F51B5;
    font-weight: normal;
}
.gridListdemoDynamicTiles md-grid-tile:hover {
    cursor: pointer;
    border: 3px solid yellow;
}
.gridListdemoDynamicTiles md-grid-tile:after {
    border: 2px solid blue;
}

/*.box2 md-content section{
  padding-left: 10px;
}*/
.box2 md-input-container {
    margin-left: 15%;
}
.box1, .box2, .box3, .nav md-sidenav {
    border: 1px solid rgba(85, 97, 85, 0.27);
}
.box2 {
    border-top: none;
    border-bottom: none;
}
.nav md-sidenav {
    border-right: none;
    border-bottom: none;
}
.box2 md-checkbox {
    margin-top: 15px;
}
.box3 .blue {
    background: #84ffff;
}
.box3 md-progress-linear .md-container{
margin-left: 10px;
  width: 70%;
}
.box3{

}
/*.box3 div{
  border:1px solid green;
}*/
