<md-toolbar>
    <div flex layout="column">
        <md-icon md-svg-icon="avatar:svg-desktop-mac"></md-icon>
        <span>SPSP-IT DiskClone</span>
    </div>
</md-toolbar>
<div class="nav" flex layout="row">
    <md-sidenav flex="30" md-is-locked-open="true" class="md-whiteframe-z1">
        <md-content ng-class="{true: 'custom_md-content'}[vm.tiles.length==1]">
            <div flex="" ng-cloak="" class="gridListdemoDynamicTiles">
                <div ng-if="vm.activated" layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
                </div>



                <md-radio-group ng-model="vm.disks">
                    <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="8px">

                        <md-grid-tile ng-repeat="tile in vm.tiles" ng-click="vm.showCurrentDiskInfo(tile.currentDiskDetail,tile.title,tile.realSize)" ng-class="{true: 'customer_disk'}[tile.title==vm.disks[0]]" style="clear:both;" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}"
                            md-colspan-sm="1" md-colspan-xs="1" ng-class="tile.background" ng-disabled="vm.startCloneDisabled">
                            <md-radio-button value="{{tile.realTitle}}"  aria-label="{{tile.realTitle}}"
                            class="md-primary" ng-disabled="vm.startCloneDisabled"> </md-radio-button>
                            <md-icon md-svg-icon="{{tile.icon}}">
                            </md-icon>
                            <md-progress-linear md-mode="determinate" value="100"></md-progress-linear>
                            <p>{{tile.capacity}}{{tile.unit}}</p>
                            <md-grid-tile-footer>
                                <h3>{{tile.title}}</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>
                </md-radio-group>
            </div>
        </md-content>
    </md-sidenav>


    <div layout="column" flex="" class="layout-column flex">
        <div class="box1" class="container-fluid">
            <md-content flex layout-padding>
                <div ng-if="vm.activated" layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
                </div>
                <fieldset ng-if="!vm.activated" class="standard">
                    <legend>
                        <span ng-if="!vm.activated">{{vm.showTitle}}</span>
                    </legend>
                    <div ng-if="vm.activated" layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
                    </div>
                    <!-- <pre ng-if="!vm.activated">{{vm.detailData  | json:2 |quotereplace}}</pre> -->
                    <md-table-container ng-if="!vm.activated">
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column><span>名称</span></th>
                                    <th md-column><span>值</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="diskdata in vm.detailData">
                                    <td md-cell><b>{{diskdata.key}}</b></td>
                                    <td md-cell>
                                        <b>{{diskdata.value}}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </fieldset>
            </md-content>
        </div>
        <div class="box2" class="container-fluid">
            <md-content flex layout-padding class="md-padding">
                <div ng-if="vm.activated" layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
                </div>
                <section ng-if="!vm.activated" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-input-container>
                        <md-checkbox ng-model="vm.hash" aria-label="hash" ng-disabled="vm.startCloneDisabled">
                            哈希
                        </md-checkbox>
                    </md-input-container>
                    <md-input-container>
                        <label>块大小</label>
                        <md-select ng-model="vm.blockSize" ng-disabled="vm.startCloneDisabled">
                            <md-option ng-repeat="size in vm.diskSizeType" value="{{size}}">
                                {{size}}M
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-button class="md-raised md-primary" ng-click="vm.startCopy();" ng-disabled="vm.startCloneDisabled">复制</md-button>
                    </md-input-container>
                </section>
                <div  ng-if="!vm.activated && vm.diskCloneOP && vm.cloneActivated" layout='column' layout-padding>
                    <span><b>{{vm.cloneTip}}</b></span>
                    <md-progress-linear class="md-warn" md-mode="buffer"

                    value="{{vm.determinateValue}}"

                    md-buffer-value="{{vm.determinateValue2}}" ></md-progress-linear>
                </div>

            </md-content>

        </div>
        <div class="box3" class="container-fluid">

            <md-content layout="column" flex layout-padding>
                <div layout="column" layout-wrap="">
                    <div layout="column">
                        <div ng-if='vm.usbArr.length>0'>
                            <md-checkbox ng-if="!vm.activated" aria-label="全选" ng-checked="vm.isChecked()"
                            md-indeterminate="vm.isIndeterminate()" ng-click="vm.toggleAll()"
                            aria-label="全选"
                            ng-disabled="vm.startCloneDisabled">
                                <span ng-if="vm.isChecked()">不选</span><span ng-if="!vm.isChecked()">全选</span>
                            </md-checkbox>
                            <div ng-if="vm.activated" layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
                            </div>
                            <div ng-if="vm.waitLoadUSB" layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
                            </div>
                            <!-- layout="row"   layout-wrap flex -->
                            <div class="row">
                                <md-grid-list flex ng-cloak md-cols-gt-md="12" md-cols="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
                                    <md-grid-tile layout="row" ng-repeat="tile in vm.usbArr" class="blue"
                                     md-colspan-gt-sm="4" md-rowspan-gt-sm="1">

                                        <md-checkbox ng-checked="vm.exists(tile.realTitle, vm.selected)"
                                        ng-click="vm.toggle(tile.realTitle, vm.selected)" ng-disabled="vm.startCloneDisabled">
                                            <md-tooltip>
                                                {{ tile.realTitle }}
                                            </md-tooltip>
                                            {{ tile.title }}
                                        </md-checkbox>
                                        <md-icon md-svg-icon="{{tile.icon}}">
                                        </md-icon>
                                        <md-progress-linear md-mode="determinate" value="{{tile.capacityDiff}}"></md-progress-linear>
                                        <p layout-align="center">{{tile.useCapacity}}{{tile.unit}}/{{tile.capacity}}{{tile.unit}}</p>
                                    </md-grid-tile>
                                </md-grid-list>
                            </div>

                        </div>
                    </div>
                </div>
            </md-content>

            <!-- </body>
            <!box3
            选中硬盘:
            {{vm.disks}}
            <br>
            哈希:
            {{vm.hash}}
            <br>
            块大小：
            {{vm.blockSize}} -->
        </div>
    </div>

</div>
