<body ng-app="app" ng-cloak layout="column">

    <md-toolbar>
        <div flex layout="column">
            <md-icon md-svg-icon="avatar:svg-desktop-mac"></md-icon>
            <span>SPSP-IT DiskClone</span>
        </div>
    </md-toolbar>
    <div class="nav" flex layout="row" ng-controller="diskController as vm">
        <md-sidenav flex="30" md-is-locked-open="true" class="md-whiteframe-z1">
            <md-content>
                <!-- <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
                    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-class="tile.background">
                        <md-icon md-svg-icon="avatar:svg-1"></md-icon>
                        <md-grid-tile-footer>
                            <h3>/dev/sda1</h3></md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list> -->
                <!--正常显示-->
                <div flex="" ng-cloak="" class="gridListdemoDynamicTiles">
                    <div ng-if="vm.activated" layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-circular>
                    </div>
                    <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="8px">
                        <md-grid-tile ng-click="vm.showCurrentDiskInfo(tile.diskData,tile.title)" class="md-grid-tile check-element sample-show-hide" style="clear:both;" ng-repeat="tile in vm.tiles" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" md-colspan-sm="1"
                            md-colspan-xs="1" ng-class="tile.background">
                            <md-icon md-svg-icon="{{tile.icon}}">
                            </md-icon>
                            <md-progress-linear md-mode="determinate" value="{{tile.capacityDiff}}"></md-progress-linear>
                            <p>{{tile.useCapacity}}{{tile.unit}}/{{tile.capacity}}{{tile.unit}}</p>
                            <md-grid-tile-footer>
                                <h3><md-checkbox checklist-model="vm.disks" checklist-value="tile.title" aria-label="Checkbox">{{tile.title}}</md-checkbox></h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>
                    </md-grid-list>
                </div>
            </md-content>
        </md-sidenav>


        <div layout="column" flex="" class="layout-column flex">
            <div class="box1" class="container-fluid">
                <md-content flex layout-padding>
                    <!-- <p ng-bind-html="vm.detailData | unsafe"></p> -->
                    <fieldset class="standard">
                        <legend>{{vm.showTitle}}</legend>
                        <pre>{{vm.detailData  | json:2 |quotereplace}}</pre>
                    </fieldset>
                </md-content>
            </div>
            <div class="box2" class="container-fluid">
                <md-content flex layout-padding class="md-padding">
                    <section layout="row" layout-sm="column" layout-align="center top" layout-wrap>
                        <md-input-container>
                            <md-checkbox ng-model="vm.hash" aria-label="hash">
                                哈希
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container>
                            <label>块大小</label>
                            <md-select ng-model="vm.blockSize">
                                <md-option ng-repeat="size in vm.diskSizeType" value="{{size}}">
                                    {{size}}M
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-raised md-primary">复制</md-button>
                        </md-input-container>
                    </section>
                </md-content>
            </div>
            <div class="box3">
              box3
              选中硬盘:
                {{vm.disks}}
                <br>
                哈希:
                {{vm.hash}}
                <br>
                块大小：
                {{vm.blockSize}}
            </div>
        </div>

    </div>

</body>
